<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Survey</title>
</head>
<body>
    <p th:text="Home">Home</p>

    <form action="#" th:action="@{/submitSurvey}" th:object="${surveyForm}" method="post">
        <div id="SurveyQuestions">
            <ul>
                <li th:each="question : *{questionMap}">
                    <p th:text="${question.value.questionText}"></p>
                    <ul>
                        <fieldset class="radiogroup">
                            <legend>Select your answer</legend>
                            <li th:each="option,iterStat  : ${question.value.optionMap}">
                                <input type="radio" th:field="*{questionMap[__${question.key}__].selectedOption}" th:value="${option.key}"/>
                                <label th:for="${'questionMap' + question.key + '.selectedOption' + iterStat.count} " th:text="${option.value}"/>

                            </li>
                        </fieldset>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="submit" name="submitSurvey" th:text="#{survey.submit.button}">Submit</button>

    </form>
</body>
</html>